# Ignore executables and libraries
*.exe
*.dll
*.obj
*.o
*.lib
*.pdb

# Ignore renders / temporary outputs
*.ppm
*.txt
*.log

# Ignore VSCode and temp folders
.vscode/
.idea/

# Ignore build folders
/build/
/CMakeFiles/
/CMakeCache.txt
CMakeLists.txt.user
Makefile
cmake_install.cmake
*.bin
*.yaml


